.button{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.103); /* Yarı saydam beyaz renk */
  backdrop-filter: blur(8px); /* Arka planı bulanıklaştırır */
  -webkit-backdrop-filter: blur(100px); /* Safari desteği */
  padding: 20px;
  border-radius: 30px; /* Köşeleri yuvarlama */
  width: 70%;
  height: 65%;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.284); /* Yarı saydam beyaz renk */

}
.buttoncontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.buttonAlt{
    display: flex;
    padding: 50px;
    
}
.buttonAltItem{
    width: 200px;
    height: 40px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    font: 100;
    font-weight: bold;
    
}

.buttonAltItem:hover{
    background-color: rgb(150, 150, 150); /* Yarı saydam beyaz renk */
    color: rgba(255, 255, 255, 0.847);;
}