

.container{
    height: 50%;
    background-color: rgba(184, 160, 160, 0.26); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(100px); 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}


.form{
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.formAltLabel{
    color: white;
    font-weight: bold;
}

.formAltInput{
    width: 250px;
    height: 20px;
    border: none;
    border-bottom: solid white 3px;
    outline: none; 
    background: transparent; 
    color: white; 
    padding: 5px 0; 
    font-size: 16px; 
    transition: border-color 0.3s ease;
}
.formAltInput:hover,
.formAltInput:focus {
    background-color: rgba(150, 150, 150, 0.144); 
    border-radius: 5px;

}

.inputText,
.inputNumber{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 10px;
}
.formButton{
    padding-top: 30px;
    
}
.formButtonAlt{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    font: 100;
    font-weight: bold;
}

.formButtonAlt:hover{
    background-color: rgb(150, 150, 150); 
    color: rgba(255, 255, 255, 0.847);

}

.inputError{
    font-weight: bold;
}

.searchBox{
    margin: 20px;
}
.searchBox p{
    color: white;
    font-weight: bold;
}
.valueText{
    width: 250px;
    height: 20px;
    border: none;
    border-bottom: solid white 3px;
    outline: none; 
  background: transparent; 
  color: white; 
  padding: 5px 0; 
  font-size: 16px; 
  transition: border-color 0.3s ease;
    width: 320px;
    height: 20px;
}

.valueText:hover,
.valueText:focus {
    background-color: rgba(150, 150, 150, 0.144); 
    border-radius: 5px;

}

.list{
    display: flex;
    padding: 0;
    flex-wrap: wrap;

}

.listItem{
    background-color: rgba(255, 255, 255, 0.178);
    list-style: none;
    border-radius: 5px;
    border-width: 1.5px;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    margin: 20px;
    padding:10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    
}

.listItemAlt{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.listItemAlt p{
    margin: 0;
    color: white;

}

.listItemButton{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font: 100;
    font-weight: bold;
}
.listItemButton:hover{
    background-color: rgb(150, 150, 150); /* Yarı saydam beyaz renk */
    color: rgba(255, 255, 255, 0.847);

}
